doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src: url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:bt;
      src: url('/bootstrap/fonts/bebasneue_thin.ttf');
      }
      h1 {
      font-family:high;
      font-size:3vw;
      display:inline;
      color:white;
      }
      body {
      min-width:768px;
      background-color:#fff;
      background-image:url('/bootstrap/images/stripe4.png');
      }
      h2 {
      font-size:6vw;
      font-family:br;
      letter-spacing:7px;
      }
      h3 {
      font-size:3vw;
      }
      h4 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:white;
      }
      h5 {
      letter-spacing:2px;
      text-transform:uppercase;
      font-family:roboto-thin;
      color:white;
      font-size:3vw;
      }
      img {
      width:100%;
      }
      #header {
      padding-top:0.5vw;
      padding-bottom:0.5vw;
      background-color:gray;
      }
      .spart{
      height:2vh;
      background-color:#333;
      }
      #timeperiod {
      background-color:#fff;
      }
      .input-group{
      margin:1vh;
      }   
  body
    .container(style='background-color:#eee;min-height:100vh;')
      #header.row
        .col-xs-1
          a(href='http://recentones.com')
            img(src='/bootstrap/images/rl.png')         
      #timeperiod.row
        .col-xs-12(style='text-align:center;')
            h2(style='color:gray;') Добавить заведение в лист для подтверждения     
      .row
        form(action='/admin/addcl',method='post',role='form')
          .col-xs-8.col-xs-offset-2(style='text-align:center;padding-top:4vw;padding-bottom:4vw;')
            .input-group.input-group-lg
              span(class="input-group-addon" id="sizing-addon1") Название 
              input(type="text" class="form-control" aria-describedby="sizing-addon1" name='ratingname')
            .input-group.input-group-lg
              span(class="input-group-addon" id="sizing-addon1") Сайт
              input(type="text" class="form-control" aria-describedby="sizing-addon1" name='web')
            .input-group.input-group-lg
              span(class="input-group-addon" id="sizing-addon1") ID
              input(type="text" class="form-control" aria-describedby="sizing-addon1" name='pid1')    
            button(class='btn btn-primary',type='submit',style='margin-top:2vh;') Добавить                    
      
