doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src: url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:bt;
      src: url('/bootstrap/fonts/bebasneue_thin.ttf');
      }
      h1 {
      font-family:high;
      font-size:3vw;
      display:inline;
      color:white;
      }
      body {
      min-width:768px;
      background-color:#fff;
      background-image:url('/bootstrap/images/stripe4.png');
      filter: grayscale(50%);
      }
      h2 {
      font-size:6vw;
      font-family:br;
      letter-spacing:7px;
      }
      h3 {
      font-size:3vw;
      }
      h4 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:white;
      }
      h5 {
      letter-spacing:2px;
      text-transform:uppercase;
      font-family:roboto-thin;
      color:white;
      font-size:3vw;
      }
      .preview {
      margin:0px;
      padding:0px;
      border-right:1px solid black;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      }
      .preview:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      }
      img {
      width:100%;
      }
      .imgrow {
      border-bottom:1px solid black;
      }
      .placenamebckgrnd {
      position:absolute;
      color:white;
      opacity:0.7;
      width:100%;
      margin-bottom:auto;
      background-color:black;
      text-align:center;
      z-index:1;
      height:25%;
      }
      .placename {
      position:absolute;
      color:black;
      width:100%;
      text-align:center;
      margin-bottom:auto;
      z-index:2;
      }
      #footer {
      background-color:gray;
      letter-spacing:2px;
      text-transform:uppercase;
      text-align:center;
      }
      #header {
      padding-top:0.5vw;
      padding-bottom:0.5vw;
      background-color:gray;
      }
      .spart{
      height:2vh;
      background-color:#333;
      }
      #timeperiod {
      background-color:#fff;
      }
      .color {
      height:10vh;
      }
      #blue{
      background-color:#001c45;
      }
      #green{
      background-color:#49a881;
      }
      #white{
      background-color:white;
      }
      .imgrow {
      background-color:#333;
      }
      .container-fluid {
      min-height:100vh;
      background-color:#eee;
      }
      .input-group{
      margin:1vh;
      }
      @media only screen
      and (min-device-width : 768px)
      and (max-device-width : 1024px)
      {
      .container-fluid {
      width:100vw;
      margin:0px;
      }
      #footer{
      background-color:;
      width:100%;
      position:fixed;
      bottom:0px;
      }
      } 
      .btn{
        margin:1vh;
      }  
      input {
        margin:1vh;
      }
      label{
        margin:1vh;
      }
  body
    .container-fluid
      #header.row
        .col-xs-1
          a(href='http://recentones.com')
            img(src='/bootstrap/images/rl.png')         
      #timeperiod.row
        .col-xs-12(style='text-align:center;')
          h2(style='color:gray;') Добавить заведени      
      .row
        form(action='/admin/addplace',method='post',role='form', enctype='multipart/form-data')
          .col-xs-12(style='text-align:center; background-color:#eee;padding-top:4vw;padding-bottom:4vw;')
            .input-group.input-group-lg
              span(class="input-group-addon" id="sizing-addon1") Английское название заведения
              input(type="text" class="form-control" aria-describedby="sizing-addon1" name='placenameen')
            .input-group.input-group-lg
              span(class="input-group-addon" id="sizing-addon1") Русское название заведения
              input(type="text" class="form-control" aria-describedby="sizing-addon1" name='placenameru') 
            .input-group.input-group-lg
              span(class="input-group-addon" id="sizing-addon1") Адрес на русском
              input(type="text" class="form-control" aria-describedby="sizing-addon1" name='adressen')
            .input-group.input-group-lg
              span(class="input-group-addon" id="sizing-addon1") Адрес на английском
              input(type="text" class="form-control" aria-describedby="sizing-addon1" name='adressru') 
            .row
                .col-xs-4.zerop
                  button#addfield.btn.btn-success(type='button') Добавить фото
                  button#addxmlfield.btn.btn-success(type='button') Добавить XML
                  button#reset.btn.btn-warning(type='button') Убрать все поля
                  button#rmlast.btn.btn-danger(type='button', style='margin-top: 5px;') Убрать последнее поле фото
                  button#rmlastxml.btn.btn-danger(type='button', style='margin-top: 5px;') Убрать последнее поле XML
                #labels.col-xs-4.zerop
                  p
                    label  MAINPREVIEW 
                  p
                    label  XML 
                  //  
                    p
                      label  NUMBER OF IMAGES (DONT TOUCH) 
                  //
                    p
                      label  NUMBER OF XML FILES (DONT TOUCH)
                  p
                    label  Панораму загружаем ?
                #inputs.col-xs-4.zerop
                  input#mainpreview.form-control(type='file', name='mainpreview')
                  input#xml.form-control(type='file', name='xml')
                  input#imgqntt.form-control(style='display:none;',type='text', name='imgqnnt')
                  input#xmlqntt.form-control(style='display:none;',type='text', name='xmlqntt')
                  input#pano.form-control(type='checkbox', name='pano')           
             
            button(class='btn btn-primary',type='submit') Добавить 
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')       
      script.
        var xmlcount = 0;
        var imgcount = 0;
        $('#addfield').click(function(){
        imgcount++;
        $('#imgqntt').val(imgcount);
        $('#labels').append("<p id='"+imgcount+"sidelabel'><label  > "+imgcount+" IMAGE</label></p>")
        $('#inputs').append("<input type='file' class='form-control'  id='"+imgcount+"side' name='images[]'>")
        });
        $('#addxmlfield').click(function(){
        xmlcount++;
        $('#xmlqntt').val(xmlcount);
        $('#labels').append("<p style='background-color:#2c7095;' id='"+xmlcount+"xmllabel'><label style='color:white;' > "+xmlcount+" XML</label></p>")
        $('#inputs').append("<input type='file' class='form-control'  id='"+xmlcount+"xml' name='xmls[]'>")
        //#xmlqntt and #addxmlfield must be created
        });
        $('#reset').click(function(){
        $('#labels').empty();
        $('#inputs').empty();
        imgcount=0;
        $('#imgqntt').val(imgcount);
        $('#labels').append("<p><label > MAINPREVIEW </label></p> <p><label > XML </label></p> <p><label > NUMBER OF IMAGES (DONT TOUCH) </label></p>");
        $('#inputs').append("<input type='file' class='form-control'  id='mainpreview' name='mainpreview'> <input type='file' class='form-control'  id='xml' name='xml'> <input type='text' class='form-control' id='imgqntt' name='imgqnnt'>");
        });
        $('#rmlast').click(function(){
        if (imgcount > 0) {
        var x = imgcount
        eval("$('#"+x+"side').remove(); $('#"+x+"sidelabel').remove() ");
        imgcount--;
        $('#imgqntt').val(imgcount);}
        else {}
        });
        $('#rmlastxml').click(function(){
        if (xmlcount > 0) {
        var x = xmlcount
        eval("$('#"+x+"xml').remove(); $('#"+x+"xmllabel').remove() ");
        xmlcount--;
        $('#xmlqntt').val(xmlcount);}
        else {}
        });                  
        
