doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')   
    style.
      .container-fluid {
      min-height:100vh;
      background-color:#eee;
      }
      #pano{
      height:100vh;
      } 
  body
    #pano.container-fluid(style='padding:0px;')             
    script(type='text/javascript', src='/js/pano2vr_player.js')
    script.
      pano=new pano2vrPlayer("pano");
      pano.readConfigUrl("#{doc.xml}");
      

      