doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      body {
        background-color:#2daec3;
      }
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      body {
      min-width:768px;
      }
      .navbar-nav {
       float: right;
      }
      h1{
        font-family:roboto-thin;
      }
      h2{
        font-family:roboto-thin;
      }
      h3{
        font-family:roboto-thin;
      }
      h4{
        font-family:roboto-thin;
      }
      h5{
        font-family:roboto-thin;
      }
      h6{
        font-family:roboto-thin;
      }

  body
    //
      nav(class="navbar navbar-default")
        .container
          .navbar-header
            a(class="navbar-brand" href="/")
              | People & Books
          .collapse.navbar-collapse#navbar-collapse-9
            ul(class='nav navbar-nav')
              li
                a(href='/settings') Настройки
              li
                a Выйти
    .container(style='padding-top:20px;padding-bottom:20px;')  
      .row(style='margin-bottom:30px;')
        .media
          .media-left
            a
             img(class="media-object img-circle" src="/bootstrap/images/seo.jpg" style='width:64px;height:64px;' alt="...")
          .media-body
            h4(class="media-heading") Cильва
      .row
        .col-xs-6(style='background-color:rgba(255, 255, 255, 0.39);min-height:700px;border-top-left-radius:10px;border-bottom-left-radius:10px;')
          .row
            .col-xs-12(style='text-align:center;')
              h1(style='font-family:high;font-size:200px;font-weight:bold;color:white;') 30 
               span(style='color:rgba(0, 0, 0, 0.15);') | 20
              button(class='btn btn-default' style='border-radius:30px;margin-bottom:20px;border:0px;color:white;background-color:rgba(255, 255, 255, 0.38);' type='button') Добавить книгу
          .row
            .col-xs-3
              h5(style='color:white;') 12.05.2015
            .col-xs-9
              h5 Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5 Ф.М. Достоевский "Идиот"
                span(class='glyphicon glyphicon-star' style='color:#fffc00;margin-left:10px;')
          .row
            .col-xs-9.col-xs-offset-3
              h5 Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5(style='color:rgba(0, 0, 0, 0.15);') Ф.М. Достоевский "Идиот"
          .row
            .col-xs-3
              h5(style='color:white;') 12.05.2015
            .col-xs-9
              h5 Ф.М. Достоевский "Идиот"
                span(class='glyphicon glyphicon-star' style='color:#fffc00;margin-left:10px;')
          .row
            .col-xs-3
              h5(style='color:white;') 12.05.2015
            .col-xs-9
              h5 Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5(style='color:rgba(0, 0, 0, 0.15);') Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5(style='color:rgba(0, 0, 0, 0.15);') Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5(style='color:rgba(0, 0, 0, 0.15);') Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5(style='color:rgba(0, 0, 0, 0.15);') Ф.М. Достоевский "Идиот"
        .col-xs-6(style='background-color:rgba(0, 0, 0, 0.1);min-height:700px;border-top-right-radius:10px;border-bottom-right-radius:10px;')
          .row
            .col-xs-12(style='text-align:center;')
              h1(style='font-family:high;font-size:200px;font-weight:bold;color:white;') 45 
               span(style='color:rgba(255, 255, 255, 0.21);') | 10
              button(class='btn btn-default' style='border-radius:30px;margin-bottom:20px;border:0px;background-color:rgba(255, 255, 255, 0.38);color:white;' type='button') Добавить фильм
          .row
            .col-xs-3
              h5(style='color:white;') 12.05.2015
            .col-xs-9
              h5 Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5(style='color:rgba(255, 255, 255, 0.21);') Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5 Ф.М. Достоевский "Идиот"
                span(class='glyphicon glyphicon-star' style='color:#fffc00;margin-left:10px;')
          .row
            .col-xs-9.col-xs-offset-3
              h5 Ф.М. Достоевский "Идиот"
          .row
            .col-xs-3
              h5(style='color:white;') 12.05.2015
            .col-xs-9
              h5 Ф.М. Достоевский "Идиот"
                span(class='glyphicon glyphicon-star' style='color:#fffc00;margin-left:10px;')
          .row
            .col-xs-3
              h5(style='color:white;') 12.05.2015
            .col-xs-9
              h5 Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5(style='color:rgba(255, 255, 255, 0.21);') Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5(style='color:rgba(255, 255, 255, 0.21);') Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5(style='color:rgba(255, 255, 255, 0.21);') Ф.М. Достоевский "Идиот"
          .row
            .col-xs-9.col-xs-offset-3
              h5(style='color:rgba(255, 255, 255, 0.21);') Ф.М. Достоевский "Идиот"
        //
          footer(class='footer' style='background-color:#333;')
            .container 
              a link
              a link
              a link
              a link

             
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(async src='/js/bootstrap.min.js')
      