doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      h1 {
      font-family:high;
      }
      body {
      min-width:768px;
      background-color:#fff;
      }
      h2 {
      font-family:high;
      }
      h3 {
      font-family:high;
      }
      h4{
        font-family:high;
      }
      h5 {
      font-family:helvetica,sans;
      font-size:2vw;
      }
      .btn-primary {
      color: #fff;
      background-color: lightgreen;
      border-color: lightgreen;
      }
        ::-webkit-input-placeholder { /* WebKit browsers */
      color: lightgray;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: lightgray;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: lightgray;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
          color: lightgray;
      }
      .alert{
        text-align:center;
        font-family:roboto-thin;
      }
      .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
        background-color:mediumseagreen;
        border-color:mediumseagreen;
      }
  body
    nav(class="navbar navbar-inverse navbar-fixed-top")
      .container
        .navbar-header
          a(class="navbar-brand" style='padding:5px;' href="/")
            img(alt="Logo",id='logo',src="/bootstrap/images/rl.png",height='40',width='40')
        .collapse.navbar-collapse#navbar-collapse-9
          ul(class='nav navbar-nav')
            li
              a(href='/',style='font-family:high;font-size:20px;letter-spacing:2px;') Лента 
            li
              a(href='/top',style='font-family:high;font-size:20px;letter-spacing:2px;') Рейтинги 
            li
              a(href='/search',style='font-family:high;font-size:20px;letter-spacing:2px;') Поиск
            li(class='active')
              a(href='#',style='font-family:high;font-size:20px;letter-spacing:2px;') Инфо
    .container(style='background-color:white;min-height:100vh;margin-top:50px;')     
      #text.row(style='padding-bottom:20px; padding-top:20px; text-align: center;')
        .col-xs-10.col-xs-offset-1
          h1(style='font-size:45px;') #{doc.nameru}
          h2(style='color:lightgray;font-family:roboto-thin;') Подтверждение проведения съемки
      .row
        #message.col-xs-8.col-xs-offset-2(style='padding:0px;')
      .row
        #formrow.col-xs-8.col-xs-offset-2
          form(action='/conf/#{doc.clid}',class='form-horizontal',method='post',role='form')
            .form-group
              .input-group.input-group-lg
                span(class="input-group-addon",id="sizing-addon1") Дата 
                input(type="text",class="form-control",aria-describedby="sizing-addon1",id='sdate',placeholder='11 июля')
            .form-group
              .input-group.input-group-lg
                span(class="input-group-addon" id="sizing-addon1") Время
                input(type="text",class="form-control",aria-describedby="sizing-addon1",id='stime',placeholder='13.30-14.20')
            .form-group
              .input-group.input-group-lg
                span(class="input-group-addon" id="sizing-addon1") Контактное лицо
                input(type="text",class="form-control",aria-describedby="sizing-addon1",id='contact',placeholder='Иванов Федор +79647777777') 
            .form-group
              textarea(class='form-control',rows='3',id='comments',placeholder='Комментарии')
            .form-group(style='text-align:center;')   
              button(class='btn btn-primary btn-lg',id='sss',type='button',style='margin-top:20px;border-radius:30px;') Подтверждаю  
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js') 
      script.                  
        $('#sss').click(function() {
        var sdate = $('#sdate').val();
        var stime = $('#stime').val();
        var contact = $('#contact').val();
        var comments = $('#comments').val();
         if(!sdate)
         {
          $('#message').empty();
          $('#message').append("<div class='alert alert-danger' role='alert'>Вы не указали <strong>дату</strong></div>");
         }
         else if(!stime)
         {
          $('#message').empty();
          $('#message').append("<div class='alert alert-danger' role='alert'>Вы не указали <strong>время</strong></div>");
         }
         else if(!contact)
         {
          $('#message').empty();
          $('#message').append("<div class='alert alert-danger' role='alert'>Вы не указали <strong>Контактное лицо</strong></div>");
         }
         else
        {request = new XMLHttpRequest();
         request.onreadystatechange = function () {
         var DONE = this.DONE || 4;
         if (this.readyState === DONE){
         var parsed = JSON.parse(request.responseText);
         if (parsed.trouble === 1)
         {
          $('#message').empty();
          $('#message').append("<div class='alert alert-danger' role='alert'>Приносим свои извинения, что-то не так на сервере, в службу поддержки отправлено уведомление.<strong> Пошлите нам подтверждение письмом.</strong></div>");
         }
         else {
          $('#message').empty();
          $('#formrow').empty();
          $('#formrow').append("<div class='alert alert-success' role='alert'><strong>Спасибо</strong>, мы вам позвоним!</div>");
         }}
         };
         request.open('POST','/conf/#{doc.clid}', true);
         request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
         request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
         request.send("cdate="+sdate+"&ctime="+stime+"&contact="+contact+"&comments="+comments); } 
        });
          
          

        