doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src: url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:bt;
      src: url('/bootstrap/fonts/bebasneue_thin.ttf');
      }
      h1 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:gray;
      margin-top:0px;
      margin-bottom:0px;
      }
      body {
      min-width:768px;
      background-color:#fff;
      background-image:url('/bootstrap/images/stripe4.png');
      filter: grayscale(50%);
      }
      h2 {
      font-size:6vw;
      font-family:br;
      letter-spacing:7px;
      }
      h3 {
      font-size:3vw;
      }
      h4 {
      font-size:2vw;
      font-family:roboto-thin;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      }
      h5 {
      letter-spacing:2px;
      text-transform:uppercase;
      font-family:high;
      color:white;
      font-size:3vw;
      margin-bottom:0px;
      }
      img {
      width:100%;
      }
      #header {
      background-color:gray;
      }
      .imgrow {
      background-color:#333;
      }
      .container-fluid {
      min-height:100vh;
      background-color:#eee;
      }  
      #timeperiod{
        background-color:black;
      }
      a:hover {
        text-decoration:none;
        outline:none;
      }
      #footer {
       bottom: 0px;
       padding-bottom: 10px;
       position: absolute;
       width: 100%;
       max-width: 1170px;
      }
  body
    script.
      if(screen.width < 414){
      window.location='http://m.recentones.com/';
      }
    .container(style='background-color:#eee;min-height:100vh;')
      #header.row 
        .col-xs-12(style='padding-top:15px;padding-bottom:15px;')
          .media
            .media-left(style='padding-right:15px;')
              img(id='logo',src='/bootstrap/images/rlbw.png',style='width:64px;height:64px;')
            .media-body  
              h5(style='color:white;font-family:roboto-thin;font-size:2.5vw; margin-top:0px;line-height:64px;') Панорамы новых заведений и агретор рейтингов.             
      #timeperiod.row
        .col-xs-4(style='border-right:1px dotted gray;text-align:center;')
          h2(style='color:#ddd;') Лента: 
        |           
        a(href='/top')
          .col-xs-4(style='border-right:1px dotted gray;text-align:center;')
            h2(style='color:gray;') Рейтинги 
        |           
        a(href='/search')
          .col-xs-4(style='text-align:center;')
            h2(style='color:gray;') Поиск
      .row(style='background-color:#eee;')
        #insert.col-xs-12(style='text-align:center;padding-left:10vw;padding-right:10vw;padding-top:3%;')
          h4(style='color:black;font-family:bt;font-weight:bold;font-size:4vw;') В данный момент мы договариваемся, фотографируем, наполняем базу. Оставьте адрес, и мы 
            span(style='color:#12a636;') сообщим вам о запуске первым.
          form()
            .input-group
              input(type="text",class="form-control",placeholder="cheif@yandex.ru",id='mail')
              span(class="input-group-btn")
                button(class="btn btn-success",type="button",id='mailsubmit') Держать в курсе  
      #footer.row(style='padding-top:10px;padding-bottom:10px;')  
        .col-xs-2.col-xs-offset-5(style='text-align:center;')
          a(href='/misc/2')
            h1 Инфо
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script.
      if(screen.width == 768) {
        $('#insert').css('padding-top','15%');
      }
      $('#mailsubmit').click(mail);
      function mail() {
      request = new XMLHttpRequest();
      request.onreadystatechange = function () {
      var DONE = this.DONE || 4;
      if (this.readyState === DONE){
      var parsed = JSON.parse(request.responseText);
      if (parsed.trouble === 1)
      {alert('Недействительный адрес, ошиблись?');}
      else {
       $('#insert').empty();
       $('#insert').append("<h4 style='color:black;font-family:bt;font-weight:bold;font-size:4vw;'>До связи!</h4>");
      }}
      };
      request.open('POST','/keepintouch', true);
      request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
      request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      // THAT NEEDS TO BE CORRECTED. IT SUPPOSED TO CHECK FOR ALL THE OFFERS BUT SERVER SIDE DOESNT SUPPORT IT YET. AT LEAST CHANGE TO 'CALENDAR'
      request.send("cm="+$('#mail').val());  
      }

      