doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src: url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:bt;
      src: url('/bootstrap/fonts/bebasneue_thin.ttf');
      }
      body {
      min-width:768px;
      background-color:#eee;
      }
      h5{
      letter-spacing:2px;
      text-transform:uppercase;
      margin-bottom:0px;
      color:white;
      font-family:roboto-thin;
      font-size:30px;
      margin-top:0px;
      }
      h2 {
      letter-spacing:2px;
      text-transform:uppercase;
      font-family:high;
      margin-bottom:0px;
      }
      h6{
      font-family:arial; 
      text-transform:uppercase;
      margin-top:0px;
      color:lightgrey;
      margin-bottom:0px;
      letter-spacing:2px;
      }
      #welcome {
      position:absolute;
      z-index:3000;
      width:100%;
      height:100%;
      -ms-background-color:lightblue;
      }
      .main{
      filter: blur(20px) brightness(0.5);
      -webkit-filter: blur(20px) brightness(0.5);
      -moz-filter: blur(20px) brightness(0.5);
      -o-filter: blur(20px) brightness(0.5);
      }
  body
    script.
      if(screen.width < 414){
      window.location='http://m.recentones.com/';
      }
    nav(class="navbar navbar-inverse navbar-fixed-top")
      .container
        .navbar-header
          a(class="navbar-brand" style='padding:5px;' href="/")
            img(alt="Logo",id='logo',src="/bootstrap/images/rl.png",height='40',width='40')
        .collapse.navbar-collapse#navbar-collapse-9
          ul(class='nav navbar-nav')
            li(class='active')
              a(href='#',style='font-family:high;font-size:20px;letter-spacing:2px;') Лента 
            li
              a(href='/top',style='font-family:high;font-size:20px;letter-spacing:2px;') Рейтинги 
            li
              a(href='/misc/1',style='font-family:high;font-size:20px;letter-spacing:2px;') Инфо 
          form(class="navbar-form navbar-right" id='srch' role="search")
           .input-group
              input(type="text" class="form-control" id='searchfield' style='background-color:#333;color:white;border-color:#333;border-top-left-radius:20px;border-bottom-left-radius:20px;') 
              span(class='input-group-btn')
                button(class="btn btn-default" type="button" id='searchbutton' style='padding-top:9px;padding-bottom:9px;background-color:#333;color:gray;border-color:#333;border-top-right-radius:20px;border-bottom-right-radius:20px;')
                  span(class='glyphicon glyphicon-search')    
    .container(style='margin-top:50px;')   
      #welcome(style='text-align:center;')
        h1(style='color:white;margin-top:35vh;font-size:45px;font-family:high;') Добро пожаловать, все дела, сайт о новых заведениях Москвы, пиу-пиу.
        button(type='button',class='btn btn-lg',style='border-radius:30px;background-color:transparent;border-color:white;color:white',id='close') Пропустите !
      .main.row(style='z-index:2;')
        #inserts.col-xs-12(style='text-align:center;')
    footer(class='footer main' style='background-color:white;')
      .container
          nav
            ul(class='pager') 
              li 
                a(href='#',id='more') Еще
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script.
        $('#close').click(function(){
          $("#welcome").css("display","none");
          $('.main').css({'filter':'blur(0px) brightness(1z)','-o-filter':'blur(0px) brightness(1z)','-moz-filter':'blur(0px) brightness(1z)','-webkit-filter':'blur(0px) brightness(100%)'});
        });
        $(document).keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13' && $('#searchfield').val()){
        $('#srch').submit  
        }
        });
        $('#searchbutton').click(performsearch);
        function performsearch(){
        var query = $('#searchfield').val();
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
        var DONE = this.DONE || 4;
        if (this.readyState === DONE){
        var parsed = JSON.parse(request.responseText);
        if (parsed.trouble === 1)
        {$('#fldc').css('padding-top','20px');
        $('#searchresults').empty(); 
        $('#searchresults').css('text-align','center');
        $('#searchresults').append("<h5 style='margin-top:10vh;color:black;'>Ничего не нашли</h5>");}
        else {
        $('#fldc').css('padding-top','20px');
        $('#searchresults').empty(); 
        $('#searchresults').css('text-align','left');
        for(var i = 0;i<parsed.length;i++){
         var insert = "<div class='row' style='border-bottom:1px solid #ddd;background-color:#fff;'><a href='http://recentones.com/places/"+parsed[i].pid+"'><div class='col-xs-2' style='padding:0px;'><img src='"+parsed[i].mainpreview+"' style='width:100%'></div><div class='col-xs-10'><h5 style='color:gray;padding-top:1vw;'>"+parsed[i].placenameru+"</h5></div></a></div>";
         $('#searchresults').append(insert);
         }
        }}
        };
        request.open('POST', '/srch', true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        // THAT NEEDS TO BE CORRECTED. IT SUPPOSED TO CHECK FOR ALL THE OFFERS BUT SERVER SIDE DOESNT SUPPORT IT YET. AT LEAST CHANGE TO 'CALENDAR'
        request.send("query="+query); 
        }

        function cheight(){
                var fheight = $('#footer').height()+20;
                console.log(fheight);
                var oldmheight = $(window).height();
                console.log(oldmheight);
                var newmheight = oldmheight - fheight;
                newmheight = newmheight+'px';
                console.log(newmheight);
                $('#maincont').css('min-height',newmheight);
               }
        cheight();
        var moreid = 0;
        var logocount=0;
        $('#logo').mouseenter(function(){
          if(logocount<3)
           {switch(logocount) {
                       case(0):
                        $('#logo').attr('src','/bootstrap/images/gl.png');
                        logocount++;
                       break;
                       case(1):
                        $('#logo').attr('src','/bootstrap/images/bl.png');
                        logocount++;
                       break;
                       case(2):
                         $('#logo').attr('src','/bootstrap/images/rl.png');
                        logocount++;
                       break;
                      }
                    }
            else {
              switch(logocount%3)
              {         case(0):
                         $('#logo').attr('src','/bootstrap/images/gl.png');
                         logocount++;
                        break;
                        case(1):
                         $('#logo').attr('src','/bootstrap/images/bl.png');
                         logocount++;
                        break;
                        case(2):
                         $('#logo').attr('src','/bootstrap/images/rl.png');
                         logocount++;
                        break;}
            }
          });
        var toplist = !{doc};
        //if(toplist.length<4){
        //  $('#wrap').css('height','100vh');
        //}
        if(toplist.length===9){
         $('#morebutton').css('display','block');
         $('#footer').css('padding-top','0px');
        }
        function populate(toplist) {console.log("first time: "+toplist);
                //toplist = JSON.parse(toplist);
                //console.log("second time: "+toplist);
                var left = toplist.length%2;
                console.log('LEFT IS: '+left);
                var times = (toplist.length-left)/2;
                console.log('TIMES IS: '+times);
                if(toplist.length<2){
                  $('#inserts').append("<div class='row' style='margin-top:15px;margin-bottom:15px;' id='row1'></div>");
                  for (var i=0;i<toplist.length;i++){
                    var cellnum = i+1;
                    var insert = "<div class='col-xs-6'  id='ratcell"+cellnum+"'><a href='http://recentones.com/places/"+toplist[i].pid+"'><img class='img-rounded' style='width:100%;' src='"+toplist[i].mainpreview+"' ></a></div>";
                    eval("$('#row1').append(insert);");
                  }
                }
                else{
                for (var xx=0;xx<times;xx++)
                { 
                  var rnum = xx+1;
                  $('#inserts').append("<div class='row' style='margin-top:15px;margin-bottom:15px;' id='row"+rnum+"'></div>");
                  for (var i=0;i<2;i++){
                    var cellnum = xx*2+i+1;
                    var hnum = cellnum-1;
                    if(i===2)
                    {
                     var insert = "<div class='col-xs-6'  id='ratcell"+cellnum+"'><ul class='list-group'><li style='padding:0px;' class='list-group-item'><a href='http://recentones.com/places/"+toplist[hnum].pid+"'><img style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='"+toplist[hnum].mainpreview+"' ></a></li></li><li class='list-group-item'><h2 style='margin-top:0px;'>"+toplist[hnum].placenameru+"</h2><h6>"+toplist[hnum].regdate.day+"."+toplist[hnum].regdate.month+"."+toplist[hnum].regdate.year+"</h6></li></ul></div>";
                                eval("$('#row"+rnum+"').append(insert);");
                    if(xx+1 == times){
                     moreid = toplist[hnum].pid;
                     console.log('MOREID: '+moreid);
                    }
                    }
                    else 
                    {var insert = "<div class='col-xs-6'  id='ratcell"+cellnum+"'><ul class='list-group'><li style='padding:0px;' class='list-group-item'><a href='http://recentones.com/places/"+toplist[hnum].pid+"'><img style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='"+toplist[hnum].mainpreview+"' ></a></li></li><li class='list-group-item'><h2 style='margin-top:0px;'>"+toplist[hnum].placenameru+"</h2><h6>"+toplist[hnum].regdate.day+"."+toplist[hnum].regdate.month+"."+toplist[hnum].regdate.year+"</h6></li></ul></div>";
                                eval("$('#row"+rnum+"').append(insert);");}
                  }
                  if(rnum===times && left != 2 && left != 0){
                  for (var yy=0;yy<left;yy++){
                    var leftrow = rnum+1;
                   $('#inserts').append("<div class='row' style='margin-top:15px;margin-bottom:15px;' id='row"+leftrow+"'></div>");
                   var cellnum = rnum*2+yy+1;
                   console.log('cellnum: '+cellnum);
                   var hnum = cellnum-1;
                   console.log('hnum: '+hnum);
                    var insert = "<div class='col-xs-6'  id='ratcell"+cellnum+"'><a href='http://recentones.com/places/"+toplist[hnum].pid+"'><img class='img-rounded' style='width:100%;' src='"+toplist[hnum].mainpreview+"' ></a></div>";
                    eval("$('#row"+leftrow+"').append(insert);");
                    if(yy+1 == left){
                     moreid = toplist[hnum].pid;
                     console.log('MOREID: '+moreid);
                    }
                  }
                }}
         }
         }   
         $('#more').click(function(){
          request = new XMLHttpRequest();
          request.onreadystatechange = function () {
          var DONE = this.DONE || 4;
          if (this.readyState === DONE){
          parsed = JSON.parse(request.responseText);
          console.log(parsed);
          if(parsed.trouble === 1)
          {
          console.log('TROUBLE === 1');
          switch (parsed.mtext){
          case('db'):
          alert('Sorry, our database is being updated');
          break;
          case('empty'):
          break;
          }}
          else {
          //trouble === 0
          $('#inserts').empty();
          toplist = parsed.mdata;
          populate(toplist);
          }
          }
          };
          request.open('POST', '/more', true);
          request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
          request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          //Most libraries like jQuery/Prototype/Dojo do this
          request.send('mult='+moreid);
          });
          populate(toplist);
           
