doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title INTP Love
    // Bootstrap
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    style.
      body{
      background-color:#333;
      }
      .header {
      text-align:center;
      }
      .header h1 {
      margin-top:50px;
      text-transform: uppercase;
      }
      .header h4 {
      margin-top:20px;
      margin-bottom:30px;
      text-transform: uppercase;
      font-weight: 200;
      color: #bbb;
      }
      .footer {
      text-align:center;
      bottom: 0;
      width: 100%;
      }
      .participate {
      text-align:center;
      margin-top:50px;
      margin-bottom:70px;
      }
      .language {
      position:absolute;
      top:20px;
      right:20px;
      }
      #apply {
      display:none;
      }
      #ru_cont {
      display:none;
      }
      .user {
      border-bottom:1px solid #eee;
      padding-top:20px;
      padding-bottom:15px;
      padding-left:10px;
      }
      .user h5 {
      margin-top:0px;
      }
      .user:last-child {
      border-bottom:none;
      }
      .emptyavatar {
      /*margin:30px;
      margin-left:50px;
      margin-right:50px;*/
      margin:auto;
      width:90px;
      height:90px;
      background-color:#eee;
      border-radius:50%;
      }
      @media (max-width: 767px) {
      #main{
      }
      }
      h6 {
      color:#ddd;
      }
      #head .btn-default,#head .btn-default:hover,#head .btn-default:focus {
      border-color:teal;
      background-color:#333;
      color:teal;
      }
      #head .btn-default.active,#head .btn-default.active:active {
      border-color:teal;
      background-color:teal;
      color:#333;
      }
      #head {
      border: 1px solid #232323;
      padding-bottom:30px;
      text-align:center;
      border-top-left-radius:6px;
      border-top-right-radius:6px;
      background-color:#222;
      }
      .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
      background-color:teal;
      border-color:teal;
      color:#333;
      }
      .pagination>li>a, .pagination>li>span {
      background-color:#333;
      border-color:teal;
      color:teal;
      }
      .btn-send {
      margin-top:20px;
      margin-bottom:5px;
      }
      .user .col-xs-9 {
      padding-left:10px;
      }
      .modal input {
      max-width:400px;
      }
      .user .col-xs-3 {
      text-align:center;
      }
  body
    //
      <div class='language'>
      <a id='eng' class='active'>ENG</a>
      <span style='color:#ddd;'>|</span>
      <a id='ru'>RU</a>
      </div>
    #register.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')  ×
            h4.modal-title(style='color:#ddd;')  Регистрация 
          .modal-body
            form
              .form-group
                label(for='pagetitle')  Имя
                input#article_title.form-control(type='email', autocomplete='off', placeholder='Neuroscience')
              .form-group
                label(for='pagetitle')  Email
                input#article_title.form-control(type='email', autocomplete='off', placeholder='Neuroscience')
              .form-group
                label(for='pagetitle')  Пароль
                input#article_title.form-control(type='email', autocomplete='off', placeholder='Neuroscience')
          .modal-footer
            button#submitarticle.btn.btn-primary  Submit
    #eng_cont.container(style='padding-top:60px;')
      //
        <div class='language'>
        <a class='active eng'>ENG</a>
        <span style='color:#ddd;'>|</span>
        <a class='ru'>RU</a>
        </div>
      //
        <div class='page-header header'>
        <h1><span><img src='images/cfrp.png' width='40'></span></h1>
        <h1>Consciousness:<br> essential components & infrastructure</h1>
        <h4 > Research project</h4>
        </div>
      .row
        .col-xs-12
          h1(style='font-family:Josefin Sans;text-align:center;margin-bottom:40px;letter-spacing: 12px;color: #B1EDFF;text-shadow: 1px 1px 10px #6DB7dc') INTPLOVE
      //
        <div class='row ' style='padding-top:30px;padding-bottom:30px;text-align:center;'>
        <div class='col-xs-12'>
        <div class='btn-group'>
        <button class='btn btn-default active'>Анкеты</button>
        <button class='btn btn-default'>Войти</button>
        </div>
        </div>
        </div>
      .row(style='border-radius:6px;')
        #main.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3(style='background-color:white;border-radius:6px;')
          #head.row
            .col-xs-12
              h4(style='text-align:center;margin-bottom:20px;margin-top:30px') Я ищу
              .btn-group.btn-group-sm
                button.btn.btn-default Парня
                button.btn.btn-default Девушку
                button.btn.btn-default.active Всех
              h5(style='color:gray;margin-top:20px;')
                | от 
                select
                  option 1 
                  option 2 
                  option 3 
                |            до
                select
                  option 1 
                  option 2 
                  option 3 
                |             лет
              select
                option Москва 
                option Питербург 
                option Новгород 
            //
              <nav>
              <ul class="pagination" style='margin-bottom:0px;'>
              <li>
              <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              </a>
              </li>
              <li class='active'><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
              <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              </a>
              </li>
              </ul>
              </nav>
          .row.user
            .col-xs-3
              .emptyavatar
              a.btn.btn-sm.btn-send.btn-default Написать
            .col-xs-9
              h5 Dima, 24
              h6
                span.glyphicon.glyphicon-map-marker(style='margin-right:5px;')
                | Москва
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
          .row.user
            .col-xs-3
              .emptyavatar
              a.btn.btn-sm.btn-send.btn-default Написать
            .col-xs-9
              h5 Dima, 24
              h6
                span.glyphicon.glyphicon-map-marker(style='margin-right:5px;')
                | Москва
          .row.user
            .col-xs-3
              .emptyavatar
              a.btn.btn-sm.btn-send.btn-default Написать
            .col-xs-9
              h5 Dima, 24
              h6
                span.glyphicon.glyphicon-map-marker(style='margin-right:5px;')
                | Москва
          .row.user
            .col-xs-3
              .emptyavatar
              a.btn.btn-sm.btn-send.btn-default Написать
            .col-xs-9
              h5 Dima, 24
              h6
                span.glyphicon.glyphicon-map-marker(style='margin-right:5px;')
                | Москва
    #ru_cont.container(style='display:none;')
    footer.footer
      .container
        .row
          .col-xs-12
            h6(style='color:#c35;font-weight:200;margin-top:40px;') INTP Love 2015
            a(style='margin-bottom:30px;font-weight:200;color:#c35;', href='mailto:feedback@intplove.ru') Contact us
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script.
      $('.btn-send').click(function(){
      $('#register').modal('show');
      });
      $('#applybutton_eng').click(function(){
      $('#apply_eng').modal('show');
      });
      $('#applybutton_ru').click(function(){
      $('#apply_ru').modal('show');
      });
      $('#ru').click(function(){
      console.log('hey');
      if(!$('#ru').hasClass('active')){
      console.log('double hey');
      $('#eng_cont').css('display','none');
      $('#ru_cont').css('display','block');
      $('#eng').removeClass('active');
      $('#ru').addClass('active');
      }
      });
      $('#eng').click(function(){
      console.log('hey');
      if(!$('#eng').hasClass('active')){
      console.log('double hey');
      $('#ru_cont').css('display','none');
      $('#eng_cont').css('display','block');
      $('#ru').removeClass('active');
      $('#eng').addClass('active');
      }
      });
