doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src: url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:bt;
      src: url('/bootstrap/fonts/bebasneue_thin.ttf');
      }
      h1 {
      font-size:6vw;
      font-family:roboto-thin;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:#bbb;
      margin-top:0px;
      margin-bottom:0px;
      }
      body {
      padding-top:51px;
      background-color:#fff;
      }
      h2 {
      font-size:6vw;
      font-family:br;
      letter-spacing:7px;
      }
      h3 {
      font-size:3vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:#eee;
      margin-top:0px;
      margin-bottom:0px;
      }
      h4 {
      font-size:2vw;
      font-family:roboto-thin;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      }
      h5 {
      letter-spacing:2px;
      text-transform:uppercase;
      font-family:br;
      font-size:6vw;
      margin-bottom:0px;
      color:gray;
      }
      img {
      width:100%;
      }
      #white{
      background-color:white;
      } 
      a {
        color:black;
      }
      a:hover {
        text-decoration:none;
        outline:none;
      }
      .heading {
        background-color:#ff9900;
      }
  body
    nav(class='navbar navbar-fixed-top navbar-inverse')
      .container
        .navbar-header
          button(type='button',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#navbar',aria-expanded='false',aria-controls='navbar')
            span.sr-only 
              Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class='navbar-brand',href='#',style='color:white;') 
            h2(style='font-size8:8vw;margin-top:0px;margin-bottom:0px;') Контакты
        #navbar.navbar-collapse.collapse(aria-expanded='false',style='height:1px;')
          ul(class='nav navbar-nav')
            li
              a(href='http://m.recentones.com') 
                h1 Лента
            li
              a(href='/top')  
                h1 Рейтинги
            li 
              a(href='/search') 
                h1 Поиск
    .container
      .row
        .col-xs-8.col-xs-offset-2
          img(src='/bootstrap/images/rl.png' style='padding-top:10vh;padding-bottom:5vh;')
      .row
        .col-xs-12(style='text-align:center;')
          a(href='tel:+79166667766') 
            h5 +7XXXXXXXXXX
      .row
        .col-xs-12(style='text-align:center;')      
          a(href='mailto:team@topandviews.com') 
            h5 main@recentones.com    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    
