doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src: url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:bt;
      src: url('/bootstrap/fonts/bebasneue_thin.ttf');
      }
      h1 {
      font-size:6vw;
      font-family:roboto-thin;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:#bbb;
      margin-top:0px;
      margin-bottom:0px;
      }
      body {
      padding-top:51px;
      background-color:#fff;
      background-image:url('/bootstrap/images/stripe4.png');
      }
      h2 {
      font-size:6vw;
      font-family:br;
      letter-spacing:7px;
      }
      h3 {
      font-size:3vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:#eee;
      margin-top:0px;
      margin-bottom:0px;
      }
      h4 {
      font-size:2vw;
      font-family:roboto-thin;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      }
      h5 {
      letter-spacing:2px;
      text-transform:uppercase;
      font-family:high;
      color:white;
      font-size:8vw;
      margin-bottom:0px;
      }
      .preview {
      margin:0px;
      padding:0px;
      border-right:1px solid black;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      }
      .preview:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      }
      img {
      width:100%;
      }
      .imgrow {
      border-bottom:1px solid black;
      }
      .placenamebckgrnd {
      color:white;
      width:100%;
      background-color:black;
      text-align:center;
      z-index:1;
      }
      .placename {
      background-color:rgba(0,0,0,0.26);
      position:absolute;
      color:black;
      width:100%;
      text-align:center;
      top:0px;
      z-index:2;
      padding:1vh;
      }
      #white{
      background-color:white;
      }
      .imgrow {
      background-color:#333;
      }
      .container-fluid {
      background-color:#eee;
      }  
      a:hover {
        text-decoration:none;
        outline:none;
      }
  body
    nav(class='navbar navbar-fixed-top navbar-inverse')
      .container
        .navbar-header
          button(type='button',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#navbar',aria-expanded='false',aria-controls='navbar')
            span.sr-only 
              Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          h2(class='navbar-brand',style='font-size8:8vw;margin-top:0px;margin-bottom:0px;') 
            span 
              img(src='/bootstrap/images/rl.png',style='width:20px;') 
            |  Лента  
        #navbar.navbar-collapse.collapse(aria-expanded='false',style='height:1px;')
          ul(class='nav navbar-nav')
            li
              a(href='/top') 
                h1 Рейтинги
            li
              a(href='/search')  
                h1 Поиск
            li 
              a(href='/misc/1') 
                h1 Контакты
    #inserts.container
      //
        h5(id='more',style='color:black;margin-bottom:10px;cursor:pointer;') Еще 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script.
        
        var toplist = !{doc};
        function populate(toplist) {for (var i=0;i<toplist.length;i++){
                  var insert ="<div class='row' style='border-bottom:1px solid #ddd;' id='row"+i+"'><div class='col-xs-12' style='padding:0px;'><div class='placename'><h5>"+toplist[i].placenameru+"</h5><h3>"+toplist[i].regdate.day+"."+toplist[i].regdate.month+"."+toplist[i].regdate.year+"</h3></div><div class='placenamebckgrnd'><a href='http://m.recentones.com/places/"+toplist[i].pid+"'><img src='"+toplist[i].mainpreview+"' style='width:100%;'></a></div></div></div>";
                  $('#inserts').append(insert);
                }}
        
         $('#more').click(function(){
          request = new XMLHttpRequest();
          request.onreadystatechange = function () {
          var DONE = this.DONE || 4;
          if (this.readyState === DONE){
          parsed = JSON.parse(request.responseText);
          console.log(parsed);
          if(parsed.trouble === 1)
          {
          console.log('TROUBLE === 1');
          switch (parsed.mtext){
          case('db'):
          alert('Sorry, our database is being updated');
          break;
          case('empty'):
          break;
          }}
          else {
          //trouble === 0
          $('#inserts').empty();
          toplist = parsed.mdata;
          populate(toplist);
          }
          }
          };
          request.open('POST', '/more', true);
          request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made for ajax purposes.
          request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          //Most libraries like jQuery/Prototype/Dojo do this
          request.send('mult='+moreid);
          });
          populate(toplist);
           
