doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title INTP Love
    // Bootstrap
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
    meta(liber de amicitia est)
    meta(property="og:url"           content="http://intplove.com")
    meta(property="og:type"          content="website")
    meta(property="og:title"         content="INTP INTJ LOVE")
    meta(property="og:description"   content="Place to find your INTP or INTJ half")
    meta(property="og:image"         content="http://intplove.com/images/intplove_logo.png")
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    script(src='/js/share.js')
    style.
      body{
      background-image: linear-gradient(0deg, #080808, #333);
      padding-bottom:30px;
      min-height:100%;
      }
      #eng_cont {
      padding-top:0px;
      padding-bottom:30px;
      }
      .regerr {
        margin-top:30px;
        margin-bottom:30px;
        text-align:center;
        display:none;
      }
      .btn:focus {
        box-shadow:none;
        outline: none !important;
      }
      form label {
        color:#555;
      }
      .btn-white {
        background-color:transparent;
        border-color:white;
        color:white;
        font-weight:200;
        text-transform:uppercase;
        letter-spacing:2px;
      }
      .btn-white:hover, .btn-white:active, .btn-white:focus {
        background-color:white;
        border-color:white;
        color:#0080D6;
        font-weight:200;
      }
      .btn-blue {
        background-color:transparent;
        border-color:#09f;
        color:#09f;
        font-weight:200;
        text-transform:uppercase;
        letter-spacing:2px;
      }
      .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
        background-color:#09f;
        border-color:#09f;
        color:#white;
        font-weight:200;
      }
      .modal-body  {
        padding:0px;
      }
      .modal-body .form-control {
        border:none;
        border-bottom:1px solid #eee;
        height:50px;
        font-weight:500;
        box-shadow:none;
        border-radius:0px;
      }
      .modal-body .form-control:last-child {
        border:none;
      }
      .modal-body .form-group {
        margin:0px;
      }
      .modal-body label {
        display:none;
      }
  body
    #register.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')  ×
            h4.modal-title(style='color:#ddd;')  Регистрация 
          .modal-body
            //
              .row.regerr
                .col-xs-12
                  h4#regerrtext
            .row
              .col-xs-12
                form
                  .form-group#uname_group
                    label(for='pagetitle') 1. Имя
                    input#uname.form-control(type='text' placeholder=' Name')
                    span(class="hidden err_indicator glyphicon glyphicon-remove form-control-feedback" aria-hidden="true")
                    span(class="hidden success_indicator glyphicon glyphicon-ok form-control-feedback" aria-hidden="true")
                  .form-group#email_group
                    label(for='email') 2. email 
                    input#email.form-control(type='email' placeholder=' Email' ) 
                    span(class="hidden err_indicator glyphicon glyphicon-remove form-control-feedback" aria-hidden="true")
                    span(class="hidden success_indicator glyphicon glyphicon-ok form-control-feedback" aria-hidden="true")
                  .form-group#pas_group
                    label(for='pagetitle') 3. Пароль
                    input#pas.form-control(type='password' placeholder=' Password')
                    span(class="hidden err_indicator glyphicon glyphicon-remove form-control-feedback" aria-hidden="true")
                    span(class="hidden success_indicator glyphicon glyphicon-ok form-control-feedback" aria-hidden="true")
                  .form-group#reg_location_group
                    label(for='pagetitle') 4. Город
                    input#reg_location.form-control(type='text' placeholder='City' )
                    span(class="hidden err_indicator glyphicon glyphicon-remove form-control-feedback" aria-hidden="true")
                    span(class="hidden success_indicator glyphicon glyphicon-ok form-control-feedback" aria-hidden="true")
                  .form-group#age_group
                    label(for='pagetitle') 5. Возраст
                    input#age.form-control(type='text' placeholder='Age' )
                    span(class="hidden err_indicator glyphicon glyphicon-remove form-control-feedback" aria-hidden="true")
                    span(class="hidden success_indicator glyphicon glyphicon-ok form-control-feedback" aria-hidden="true")
                  .form-group#about_group
                    label(for='pagetitle') 6. О себе
                    textarea#about.form-control(autocomplete="off" placeholder='What do you do for living ? What are you interested in? Who are you looking for?')
                    span(class="hidden err_indicator glyphicon glyphicon-remove form-control-feedback" aria-hidden="true")
                    span(class="hidden success_indicator glyphicon glyphicon-ok form-control-feedback" aria-hidden="true")
                  .btn-group(style='margin-top:10xp;margin-bottom:10px;')
                    button(type='button' class='btn btn-blue active' id='female') Female
                    button(type='button' class='btn btn-blue' id='male') Male
          .modal-footer(style='text-align:center;')
            button.btn.btn-success#regbutton  Регистрация
    #login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')  ×
            h4.modal-title(style='color:#ddd;')  Регистрация 
          .modal-body
            form
              .form-group
                label(for='email')  email
                input#mail.form-control(type='email', autocomplete='off', placeholder='email')
              .form-group
                label(for='pagetitle')  Пароль
                input#p.form-control(type='password', autocomplete='off', placeholder='password')
          .modal-footer
            button.btn.btn-primary#loginbutton(type='button')  Войти
    .comtainer
      .row
        .col-xs-12(style='text-align:center;margin-top:300px;')
          button#sayitbig(class='btn btn-white' type='button') Big
          button#sayitsmall(class='btn btn-white' type='button') Small
          
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    //script(src='/js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    //script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8lRm1SQ5qlhTnvAAwX5Y8mO-P9qq8HfQ&signed_in=true&libraries=places&callback=initialize" async defer)
    script.
      $('#sayitbig').click(function(){
          $('#register').modal('show');
        });
      $('#sayitsmall').click(function(){
          $('#login').modal('show');
        });
      
