doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')     
    style.
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      @font-face {
      font-family:high;
      src: url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:br;
      src: url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:bt;
      src: url('/bootstrap/fonts/bebasneue_thin.ttf');
      }
      h1 {
      font-size:6vw;
      font-family:roboto-thin;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:#bbb;
      margin-top:0px;
      margin-bottom:0px;
      }
      body {
      padding-top:51px;
      background-color:#fff;
      }
      h2 {
      font-size:6vw;
      font-family:br;
      letter-spacing:7px;
      }
      h3 {
      font-size:3vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:#eee;
      margin-top:0px;
      margin-bottom:0px;
      }
      h4 {
      font-size:2vw;
      font-family:roboto-thin;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      }
      h5 {
      letter-spacing:2px;
      text-transform:uppercase;
      font-family:roboto-thin;
      font-size:8vw;
      margin-bottom:0px;
      }
      img {
      width:100%;
      }
      #white{
      background-color:white;
      } 
      a:hover {
        text-decoration:none;
        outline:none;
      }
      .heading {
        background-color:#ff9900;
      }
  body
    nav(class='navbar navbar-fixed-top navbar-inverse')
      .container
        .navbar-header
          button(type='button',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#navbar',aria-expanded='false',aria-controls='navbar')
            span.sr-only 
              Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class='navbar-brand',href='#',style='color:white;') 
            h2(style='font-size8:8vw;margin-top:0px;margin-bottom:0px;') Рейтинги
        #navbar.navbar-collapse.collapse(aria-expanded='false',style='height:1px;')
          ul(class='nav navbar-nav')
            li
              a(href='/top') 
                h1 Лента
            li
              a(href='/search')  
                h1 Поиск
            li 
              a(href='/misc/1') 
                h1 Контакты
    #inserts.container
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script. 
        var toplist = !{doc};
        function populate(toplist) {
            for (var i=0;i<toplist.length;i++) {
             var rnum = i+1;
            $('#inserts').append("<div class='row row"+rnum+"' style='background-color:#ddd;border-bottom:1px solid gray;padding-left:15px;' id='headingrow"+rnum+"'></div>");
            $('#inserts').append("<div class='row row"+rnum+"' id='row"+rnum+"'><div class='col-xs-12' id='slide"+rnum+"' style='padding-left:0px;padding-right:0px;display:none' id='ratcell"+i+"' ></div></div>");
            var insert = "<div class='col-xs-10' style='padding-left:0px;padding-right:0px;'><h5 class='headings'>"+toplist[i].ratingname+"</h5></div><div onclick='closefunc("+rnum+")' class='col-xs-2'><img style='margin:2vh;' src='/bootstrap/images/circle_bird_down.png'></div>";
            eval("$('#headingrow"+rnum+"').append(insert);");
            for (var yy=0;yy<10;yy++){
             if(yy === 0 || yy%2 === 0)
            {
             var point = "<h5 style='margin-left:20px;'>"+toplist[i].places[yy]+"</h5>";
             eval("$('#slide"+i+"').append(point);");
             if( yy===9){
              var point = "<h5 onclick='closefunc("+rnum+")' class='row"+rnum+"' style='background-color:#333;color:white;padding-left:15px;padding-top:5px;padding-bottom:5px;'>Закрыть</h5>";
             eval("$('#slide"+i+"').append(point);");
            }
            }
            else
           {var point = "<h5 style='margin-left:20px;'>"+toplist[i].places[yy]+"</h5>";
              eval("$('#slide"+i+"').append(point)");}
          }
          }
        }
        console.log('POPULATE;');
        populate(toplist);
        function closefunc(id) {
         eval("$('#slide"+id+"').slideToggle();");
        }
           
