doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Recent ones
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/transitions/animations.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    |       
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')   

  style.
    @font-face {
    font-family:roboto-thin;
    src:url('/bootstrap/fonts/Roboto-Thin.ttf');
    }
    @font-face {
    font-family:high;
    src: url('/bootstrap/fonts/Attentica.ttf');
    }
    @font-face {
    font-family:br;
    src: url('/bootstrap/fonts/bebasneue_regular.ttf');
    }
    @font-face {
    font-family:bt;
    src: url('/bootstrap/fonts/bebasneue_thin.ttf');
    }
    body {
    min-width:768px;
    background-color:#ddd;
    }
    h5{
    letter-spacing:2px;
    text-transform:uppercase;
    margin-bottom:0px;
    color:white;
    font-family:roboto-thin;
    font-size:30px;
    margin-top:0px;
    }
    h2 {
    letter-spacing:2px;
    text-transform:uppercase;
    font-family:high;
    margin-bottom:0px;
    }
    h6{
    font-family:roboto-thin; 
    text-transform:uppercase;
    margin-top:0px;
    color:lightgrey;
    margin-bottom:0px;
    letter-spacing:2px;
    }
    .pt-perspective {
      position: relative;
      width: 100%;
      height: 100%;
      perspective: 1200px;
      transform-style: preserve-3d;
    }
    
    .pt-page {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index:100;
      top: 0;
      left: 0;
      visibility: hidden;
      backface-visibility: hidden;
      transform: translate3d(0, 0, 0);
    }
    
    .pt-page-current,
    .no-js .pt-page {
      visibility: visible;
      z-index:200;
    }
    
    .no-js body {
      overflow: auto;
    }
    
    .pt-page-ontop {
      z-index: 999;
    }
    .list-group-item:last-child {
    border-bottom: 2px solid #c2c2c2;
    }
  body
    nav(class="navbar navbar-inverse navbar-fixed-top",style='z-index:3001')
      .container
        .navbar-header
          a(class="navbar-brand" style='padding:5px;' href="/")
            img(alt="Logo",id='logo',src="/bootstrap/images/rl.png",height='40',width='40')
        .collapse.navbar-collapse#navbar-collapse-9
          ul(class='nav navbar-nav')
            li(class='active')
              a(href='#',style='font-family:high;font-size:20px;letter-spacing:2px;') Лента 
            li
              a(href='/top',style='font-family:high;font-size:20px;letter-spacing:2px;') Рейтинги 
            li
              a(href='/misc/1',style='font-family:high;font-size:20px;letter-spacing:2px;') Инфо 
          form(class="navbar-form navbar-right" id='srch' role="search")
           .input-group
              input(type="text" class="form-control" id='searchfield' style='background-color:#333;color:white;border-color:#333;border-top-left-radius:20px;border-bottom-left-radius:20px;') 
              span(class='input-group-btn')
                button(class="btn btn-default" type="button" id='searchbutton' style='padding-top:9px;padding-bottom:9px;background-color:#333;color:gray;border-color:#333;border-top-right-radius:20px;border-bottom-right-radius:20px;')
                  span(class='glyphicon glyphicon-search') 
    #wrap 
      .pt-perspective(id='pt-main')
        .pt-page.pt-page-1(style='background-color:#ddd;visibility:visible;')
          .container( style='margin-top:60px;')
            .row  
              #letsgo.col-xs-6
                ul(class='list-group')
                  li(style='padding:0px;' class='list-group-item')
                    a
                     img(style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='/bootstrap/images/sample6.jpg')
                  li(class='list-group-item')
                    h2(style='margin-top:0px;') Карлсон
                    h6 12.03.2015
              .col-xs-6
                ul(class='list-group')
                  li(style='padding:0px;' class='list-group-item')
                    a
                     img(style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='/bootstrap/images/sample6.jpg')
                  li(class='list-group-item')
                    h2(style='margin-top:0px;') Карлсон
                    h6 12.03.2015
            .row  
              .col-xs-6
                ul(class='list-group')
                  li(style='padding:0px;' class='list-group-item')
                    a
                     img(style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='/bootstrap/images/sample6.jpg')
                  li(class='list-group-item')
                    h2(style='margin-top:0px;') Карлсон
                    h6 12.03.2015
              .col-xs-6
                ul(class='list-group')
                  li(style='padding:0px;' class='list-group-item')
                    a
                     img(style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='/bootstrap/images/sample6.jpg')
                  li(class='list-group-item')
                    h2(style='margin-top:0px;') Карлсон
                    h6 12.03.2015
            .row  
              .col-xs-6
                ul(class='list-group')
                  li(style='padding:0px;' class='list-group-item')
                    a
                     img(style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='/bootstrap/images/sample6.jpg')
                  li(class='list-group-item')
                    h2(style='margin-top:0px;') Карлсон
                    h6 12.03.2015
              .col-xs-6
                ul(class='list-group')
                  li(style='padding:0px;' class='list-group-item')
                    a
                     img(style='width:100%;border-top-left-radius:4px;border-top-right-radius:4px;' src='/bootstrap/images/sample6.jpg')
                  li(class='list-group-item')
                    h2(style='margin-top:0px;') Карлсон
                    h6 12.03.2015
        .pt-page.pt-page-2(style='background-color:#333;')
          .container(style='margin-top:60px;')
            .row
              nav
                ul(class="pager")
                  li(class="previous")
                    a(href="#")
                      span(aria-hidden="true") &larr;
                      | Older
            .row
              .col-xs-12(style='text-align:center;padding-top:1vw;padding-bottom:1vw;')
                h5(style='color:gray;background-color:white;border-radius:8px;padding-top:5vw;padding-bottom:5vw;margin-bottom:3vw;')
                  span
                    a(href='http://recentones.com')
                      img(src='/bootstrap/images/bl.png', style='width:10vw;margin-bottom:2vw;')
                  br
                  | &Mcy;&ycy; &iecy;&shchcy;&iecy; &ncy;&iecy; &scy;&dcy;&iecy;&lcy;&acy;&lcy;&icy; &pcy;&acy;&ncy;&ocy;&rcy;&acy;&mcy;&ucy;
                  br
                  span(style='font-size:2.5vw;') &ncy;&ocy; &scy;&ocy;&bcy;&rcy;&acy;&lcy;&icy; &ncy;&iecy;&mcy;&ncy;&ocy;&gcy;&ocy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy;
                a(href='www')
                  h5(style='color:#fc6d6d;font-size:2vw;font-weight:bold;') &Pcy;&iecy;&rcy;&iecy;&jcy;&tcy;&icy; &ncy;&acy; &scy;&acy;&jcy;&tcy; &zcy;&acy;&vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy;
                h5(style='color:black;font-size:2vw;font-weight:bold;') adressru
                h5(style='color:black;font-size:2vw;font-weight:bold;') phone
         

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(src='/transitions/modernizr.custom.js')
      script(src='/transitions/pagetransitions.js')
      script.
        $('#letsgo').click(function(){
          $('.pt-page-2').addClass('pt-page-moveFromRight pt-page-delay200 pt-page-ontop pt-page-current');
          $('.pt-page-1').removeClass('pt-page-current'); });
          console.log($('.pt-page').css('overflow'));
          $('.pt-page').css('overflow','hidden');
        $('.previous').click(function(){
          //$('.pt-page-2').removeClass('pt-page-moveFromRight ');
          //$('.pt-page-2').removeClass('pt-page-current');
          $('.pt-page-2').removeClass('pt-page-moveFromRight ').addClass('pt-page-moveToRight');
          ///$('.pt-page-current').removeClass('pt-page-current'); 
        });
        

      
      